<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="images/icon/logo.png" alt="Cool Admin" />
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
          <a class="js-arrow" href="/tourtide/admin/">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
        </li>

        <li>
          <a href="/tourtide/admin/table">
            <i class="fas fa-table"></i>Tables</a
          >
        </li>
        <li>
          <a href="/tourtide/admin/form">
            <i class="far fa-check-square"></i>Forms</a
          >
        </li>

        <li class="has-sub">
          <a class="js-arrow" href="#"> <i class="fas fa-copy"></i>Pages</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/tourtide/tour/">Tour Home</a>
            </li>
            <li>
              <a href="/tourtide/tour/about">Tour About</a>
            </li>
            <li>
              <a href="/tourtide/user/signin">Login</a>
            </li>
            <li>
              <a href="/tourtide/user/signup">Register</a>
            </li>
            <li>
              <a href="/tourtide/user/forgot-password">Forget Password</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
