<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="/images/icon/OIP.jpg" alt="Cool Admin" class="w-50 p-2" />
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
          <a class="js-arrow" href="/admin/dashboard">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="/admin/hotelbooking-history">
            <i class="fas fa-table"></i>Check Booking History</a
          >
        </li>
        <li>
          <a href="/admin/tourtable">
            <i class="fas fa-table"></i>Tour Tables</a
          >
        </li>
        <li>
          <a href="/admin/hoteltable">
            <i class="fas fa-table"></i>Hotel Tables</a
          >
        </li>
        <li>
          <a href="/admin/foodtable">
            <i class="fas fa-table"></i>Food Tables</a
          >
        </li>
        <li>
          <a href="/admin/touraddform">
            <i class="far fa-check-square"></i>Tour Add Form</a
          >
        </li>
        <li>
          <a href="/admin/hoteladdform">
            <i class="far fa-check-square"></i>Hotel Add Form</a
          >
        </li>
        <li>
          <a href="/admin/foodaddform">
            <i class="far fa-check-square"></i>Food Add Form</a
          >
        </li>

        <li class="has-sub">
          <a class="js-arrow" href="#"> <i class="fas fa-copy"></i>Pages</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="/">Tour Home</a>
            </li>
            <li>
              <a href="/about">Tour About</a>
            </li>
            <li>
              <a href="/signin">Login</a>
            </li>
            <li>
              <a href="/signup">Register</a>
            </li>
            <li>
              <a href="/forgot-password">Forget Password</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
